@if (!game() || !deck()) {
<code>Error: missing valid game or deck.</code>
} @else { @if (showSplashPage) {
<h1 style="margin-bottom: 0">Hello, {{ currentPlayerID() }}</h1>
<p style="color: #999999">Not you? Send this link to the right player.</p>
@if (choice()) {
<button
  mat-flat-button
  style="height: 100px; font-size: 48px"
  (click)="goBeyondSplashPage()"
>
  Show me what I @if(isAssigned()) {got} @else{chose}
</button>
} @else {
<button
  mat-flat-button
  style="height: 100px; font-size: 48px"
  (click)="goBeyondSplashPage()"
>
  Show me my cards
</button>
} } @else { @if (choice()) {
<div
  style="
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  "
>
  <h1>{{ currentPlayerID() }}, you @if(isAssigned()){got}@else {chose}:</h1>
</div>

<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      height: 100px;
    "
  >
    {{ choice() }}
  </div>

  @if(undoDisabled) {
  <button
    mat-button
    disabled
    matTooltip="You can't undo if you've already copied the message to send to the next player."
  >
    Undo choice
  </button>
  } @else {
  <button
    mat-button
    *ngIf="!undoDisabled"
    matTooltip="Use this before copying the message to the next player if you misclicked."
    (click)="undoChoice()"
  >
    Undo choice
  </button>
  }
</div>
@if (nextHref()) {
<div
  style="
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  "
>
  <button
    mat-flat-button
    [cdkCopyToClipboard]="nextHref() || ''"
    style="font-size: 48px; height: 100px; margin-bottom: 5vh"
    (click)="disableUndo()"
  >
    Copy link to send to {{ nextPlayerID() }}
  </button>

  <span style="color: #999999"
    >Or,
    <a [href]="nextHref() || ''" style="color: inherit"
      >go to next player</a
    ></span
  >
</div>

} } @if (!choice()) {
<div
  style="
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  "
>
  <h1>Choose</h1>
</div>

<div
  style="
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-auto-flow: row;
    column-gap: 5vw;
    row-gap: 5vh;
  "
>
  <div
    *ngFor="let opt of options(); let i = index"
    (click)="onPick(i)"
    style="
      border: 1px solid lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      cursor: pointer;
      width: 100%;
      padding: 30px;
    "
  >
    {{ opt }}
  </div>
</div>
} } }
