<div *ngIf="!choice() && options()">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 60px;
    "
  >
    <h1>Choose</h1>
  </div>

  <div
    style="
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      grid-auto-flow: row;
      column-gap: 5vw;
      row-gap: 5vh;
    "
  >
    <div
      *ngFor="let opt of options(); let i = index"
      (click)="onPick(i)"
      style="
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        cursor: pointer;
        width: 100%;
        padding: 30px;
      "
    >
      {{ opt }}
    </div>
  </div>
</div>

<div *ngIf="choice()">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 60px;
    "
  >
    <h1>You chose:</h1>
  </div>

  <div
    style="
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      grid-auto-flow: row;
      column-gap: 5vw;
      row-gap: 5vh;
      margin-bottom: 10vh;
    "
  >
    <div
      style="
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        width: 100%;
        height: 100%;
      "
    >
      {{ choice() }}
    </div>
  </div>

  <div
    *ngIf="nextDeck()"
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <button
      [cdkCopyToClipboard]="nextPlayerMessage() || ''"
      style="font-size: 48px; margin-bottom: 5vh"
      (click)="disableUndo()"
    >
      Copy message to next player
    </button>

    <div *ngIf="isDev" style="margin-bottom: 5vh">
      <a [href]="nextHref()">Dev: navigate</a>
    </div>

    <button
      *ngIf="undoDisabled"
      disabled
      title="You can't undo if you've already copied the message to send to the next player."
    >
      Undo
    </button>

    <button
      *ngIf="!undoDisabled"
      title="Use this before copying the message to the next player if you misclicked."
      (click)="undoChoice()"
    >
      Undo
    </button>
  </div>

  <!-- <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    "
  ></div> -->
</div>
